:root {
    --border-default: 1px solid black;
}
#root {
  margin: 0 auto;
  min-width: 960px;
  width: 1200px;
}
/*NAV STYLES*/
.nav {
  margin: 10px 10px 20px 10px;
}
.nav a:hover {
  cursor: pointer;
}

/*PRODUCT LIST AND SIDEBAR CONTAINER*/
.container {
  margin: 0 10px 0 10px;
    width: 1200px!important;
}

/*PRODUCT LIST STYLES*/
.product_list_container,.cells_container {
  border: var(--border-default);
}
.product_list,.cells {
  list-style-type: none;
  padding: 0;
}
.ratio-inner {
    position: relative;
    height: 0;
    border: none;
}
.cells{
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}
td{
    border-style: solid;
    border-width: 1px;
}
.cell{
    padding-top: 16.67%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/*SIDEBAR STYLES*/
.catalog_sidebar, .manager_sidebar {
  border: var(--border-default);
  height: 500px
}
.metals {
  margin-top: 10px;
  width: 80%;
}
.metals button {
  width: 50%;
}
.file_upload{
  position: relative;
  overflow: hidden;
  font-size: 1em;        /* example */
  line-height: 2em
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}


/* Sidebar styles New */
.catalog_sidebar, .manager_sidebar, .sidebar {
  border: var(--border-default);
  height: 500px
}
.sidebar_button_group, .sidebar-menu {
  width: 80%;
}
.negativeMargin, .sidebar-menu-popup {
    margin-top: -46px;
    width: 80%;
    position:absolute;
    margin-left: -278px;
}
.subfilter, .sidebar-menu-popup-button {
  font-size: 1em !important;
}
.sidebar-menu-button-disabled {
  opacity: 0.5;
}
.sidebar-menu-button-selected {
  background-color: #337ab7;
  color: white;
}
.sidebar-menu-button-selectedNotByAll {
  background-color: #337ab7;
  color: orange;
}




.error{
    color: red;
}
.product_item a{
    border-style: solid;
    border-width: 2px;
}
.product_item.bad a{
    border-color: red;
}
.product_item.active a{
    border-color: blue;
}
.complited a{
    background-color: #3fdc26;
}
.complited img{
    opacity: 0.5;
}

.cell{
    width: 140px;
    height: 140px;
    padding: 0;
}
img.active{
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}
a#instanse{
    display: none;
}
a#instanse.vis{
    display: block;
    position: relative;
    z-index: 0;
}
a#instanse.vis:hover{
    background-color: transparent;
    z-index: 50;
}
a.vis span{ /*CSS for enlarged image*/
    position: absolute;
    background-color: white;
    padding: 5px;
    left: -1000px;
    border: 1px solid #898989;
    visibility: hidden;
    color: black;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    width: 250px;
}
a#instanse.vis span img{ /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}
a#instanse.vis:hover span{ /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 0;
    left: 60px; /*position where enlarged image should offset horizontally */
}
.thumbnail>img {
    width: 182.5px;
    height: 182.5px;
}