#root {
  min-width: 960px;
  width: 1200px;
  margin: 0 auto;
}
/*NAV STYLES*/
.nav {
  margin: 10px 10px 20px 10px;
}
.nav a:hover {
  cursor: pointer;
}
/*PRODUCT LIST AND SIDEBAR CONTAINER*/
.container {
  min-width: 960px;
  margin: 0 10px 0 10px;
}
/*PRODUCT LIST STYLES*/
.product_list_container {
  border: 1px solid black;
}
.product_list {
  list-style-type: none;
  padding: 0;
}
.product_item {
}
/*SIDEBAR STYLES*/
.catalog_sidebar, .manager_sidebar {
  border: 1px solid black;
}
.department_manufacturer {
  width: 80%;
}
.metals {
  margin-top: 10px;
  width: 80%;
}
.metals button {
  width: 50%;
}
